n8n-config-whatsapp.json
{
  "name": "Airdrops DeFiLlama → WhatsApp",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "a1b2c3d4",
      "name": "A cada 6 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://SEU-APP.railway.app/n8n/best-airdrops",
        "options": {
          "queryParametersUi": {
            "parameter": [
              {
                "name": "limit",
                "value": "5"
              }
            ]
          }
        }
      },
      "id": "b2c3d4e5",
      "name": "Buscar Melhores Airdrops",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "condition2", 
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c3d4e5f6",
      "name": "Verificar Dados",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados dos airdrops\nconst data = $input.first().json;\nconst airdrops = data.airdrops || [];\n\n// Criar mensagem formatada para WhatsApp\nlet message = '🚀 *Top ' + airdrops.length + ' Airdrops do Momento*\\n\\n';\n\nairdrops.forEach((airdrop, index) => {\n  message += `${index + 1}. *${airdrop.name}*\\n`;\n  message += `💰 Valor: ${airdrop.value}\\n`;\n  message += `⛓️ Chain: ${airdrop.chain}\\n`;\n  message += `📊 Status: ${airdrop.status}\\n`;\n  \n  if (airdrop.deadline) {\n    message += `⏰ Deadline: ${airdrop.deadline}\\n`;\n  }\n  \n  if (airdrop.url) {\n    message += `🔗 Link: ${airdrop.url}\\n`;\n  }\n  \n  message += '\\n';\n});\n\nmessage += `_🤖 Atualizado: ${data.updated || new Date().toISOString()}_\\n`;\nmessage += '_📊 Dados via DeFiLlama MCP_';\n\n// Retornar dados formatados\nreturn {\n  message: message,\n  count: airdrops.length,\n  timestamp: new Date().toISOString(),\n  airdrops: airdrops\n};"
      },
      "id": "d4e5f6g7",
      "name": "Formatar Mensagem WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/message/sendText/SUA-INSTANCIA",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "bodyContentType": "json",
          "jsonBody": "{\n  \"number\": \"5511999999999@c.us\",\n  \"text\": \"{{ $json.message }}\"\n}",
          "headers": {
            "apikey": "SUA_API_KEY_AQUI"
          }
        },
        "method": "POST"
      },
      "id": "e5f6g7h8",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "message": "❌ Nenhum airdrop encontrado ou erro na API",
        "options": {}
      },
      "id": "f6g7h8i9",
      "name": "Log Erro",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "A cada 6 horas": {
      "main": [
        [
          {
            "node": "Buscar Melhores Airdrops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Melhores Airdrops": {
      "main": [
        [
          {
            "node": "Verificar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Dados": {
      "main": [
        [
          {
            "node": "Formatar Mensagem WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Mensagem WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "tag1",
      "name": "airdrops"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z", 
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "tag2",
      "name": "whatsapp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}