n8n-flow-example.json
{
  "name": "DeFiLlama Airdrops to WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Every 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/tools/get_best_airdrops",
        "options": {
          "bodyContentType": "json",
          "jsonBody": "{\"limit\": 5, \"sortBy\": \"value\"}"
        },
        "method": "POST"
      },
      "id": "get-airdrops",
      "name": "Get Best Airdrops",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const airdrops = $input.first().json.bestAirdrops;\n\nlet message = '🚀 *Melhores Airdrops do Dia*\\n\\n';\n\nairdrops.forEach((airdrop, index) => {\n  message += `${index + 1}. *${airdrop.name}*\\n`;\n  message += `💰 Valor: ${airdrop.value}\\n`;\n  message += `⛓️ Chain: ${airdrop.chain || 'Multi'}\\n`;\n  message += `📊 Status: ${airdrop.status}\\n`;\n  if (airdrop.deadline) {\n    message += `⏰ Deadline: ${airdrop.deadline}\\n`;\n  }\n  message += '\\n';\n});\n\nmessage += '_Atualizado via DeFiLlama MCP_';\n\nreturn { message };"
      },
      "id": "format-message",
      "name": "Format WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/message/sendText/minha-instancia",
        "options": {
          "headers": {
            "apikey": "SUA_API_KEY_AQUI"
          },
          "bodyContentType": "json",
          "jsonBody": "{\n  \"number\": \"5511999999999\",\n  \"text\": \"{{ $json.message }}\"\n}"
        },
        "method": "POST"
      },
      "id": "send-whatsapp",
      "name": "Send to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Schedule Every 6h": {
      "main": [
        [
          {
            "node": "Get Best Airdrops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Best Airdrops": {
      "main": [
        [
          {
            "node": "Format WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format WhatsApp Message": {
      "main": [
        [
          {
            "node": "Send to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-instance-id"
  },
  "id": "defillama-airdrops-whatsapp",
  "tags": []
}